* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    /*font-size: 100%;*/
}

body {
    font-family: "Montserrat", "Lato", "Sans-serif";
    background-color: #252B2D;
    color: #ffffff;
    width: 100%;
}

#container {
    display: grid;
    grid-template-rows: 700px repeat(4, 385px) 300px;
}


/*------#top------*/

#top {
    background-image: url('./Images/Image3.jpg');
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 180px;
}

.logo {
    width: 150px;
    height: 35px;
}

nav {
    margin-top: 12px;
    margin-left: 50px;
    margin-right: 50px;
}

.alogo {
    float: left;
}

.alogo::after {
    clear: both;
}

.button {
width: 75px;
height: 30px;
font-size: 16px;
/*padding-left: 12px;
padding-right: 12px;*/
padding-top: 7px;
padding-bottom: 7px;
text-align: center;
background-color: #16B5EB;
color: #ffffff;
border-radius: 3px;
float: right;
}

.button:hover {
    color: #2A5B6B;
}

.button::after {
    clear: both;
}

.topInner {
    text-align: center;
    justify-self: center;
    align-self: center;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-size: 27px;
    color: #EAEAE9;
}

.extra {
    font-size: 16px;
    color: #CBCBCA;
    /*width: 420px;
    display: block;
    text-align: center;*/
}
span {
    color: #16B5EB;
}

form {
    margin-top: 15px;
}

.search {
    width: 300px;
    height: 28px;
    padding-left: 8px;
    font-size: 16px;
    border-radius: 3px;
    margin-right: 10px;
}

.search:hover {
    transform: scale(1.03);
}

.button1 {
    height: 28px;
    width: 75px;
    border-radius: 3px;
    background-color: #16B5EB;
    color: #ffffff;
    font-size: 16px;
}

.button1:hover {
    color: #2A5B6B;
}
/*----------------*/


/*------#trending------*/

#trending, #lastest, #newThisWeek, #series {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 305px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    /*align-items: center;
    justify-items: center;*/
}

.trend {
    font-size: 27px;
    font-weight: bold;
    border-bottom: 3px solid #16B5EB;
    width: 125px;
    padding-bottom: 2px;
}

.list {
    display: grid;
    grid-template-rows: 267px 38px;
    justify-items: center;
    /*align-items: start;*/

}

.listImg {
    width: 150px;
    height: 250px;
    border-radius: 3px;
}

.listImg:hover {
    transform: scale(1.02);
}

/*.parent {
    width: 150px;
    height: 250px;
    border: 1px solid #2D303A;
    overflow: hidden;
    display: grid;
    justify-items: center;
}

.child {
    width: 100%;
    height: 100%;
    background-color: #252B2D;
    background-image: url('./Images/jura.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    transition: all .5s;
}

.parent:hover .child, .parent:focus .child {
    transform: scale(1.2);
}

/*.child::before {
    content: "";
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52, 73, 94, 0.75);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}*/

.listP {
    font-size: 14px;
    width: 150px;
    text-align: center;
}

.div4 {
    text-align: center;
}

.view {
    font-size: 16px;
    color: #454B60;
}

.div1:hover {
    color: #587179;
}

.list:hover {
    color: #587179;
}

.view:hover {
    color: #6B79AC;
}

/*----------------*/

/*----#newThisWeek------*/

.new {
    width: 210px;
    font-size: 27px;
    border-bottom: 3px solid #16B5EB;
    padding-bottom: 2px;
    font-weight: bold;
}

/*----------------------*/

/*----#lastest------*/

.new1 {
    width: 100px;
    font-size: 27px;
    border-bottom: 3px solid #16B5EB;
    padding-bottom: 2px;
    font-weight: bold;
}

/*-----------------*/

/*----#series------*/

.new2 {
    width: 85px;
    font-size: 27px;
    border-bottom: 3px solid #16B5EB;
    padding-bottom: 2px;
    font-weight: bold;
}

/*----------------------*/

/*------#footer------*/

#footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    font-size: 13px;
    /*grid-column-gap: 5px;*/
    align-items: center;
}

.first, .second, .third, .fourth {
    height: 126px;
}

.first {
    grid-column-start: 2;
    grid-column-end: 3;
}

.second {
    grid-column-start: 4;
    grid-column-end: 5;
}

.third {
    grid-column-start: 6;
    grid-column-end: 7;
}

.fourth {
    grid-column-start: 10;
    grid-column-end: 11;
    display: grid;
}

.lead {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
/*-------------------*/

@media only screen and (max-width:450px) {

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 22px;
    }

    .extra {
        font-size: 14px;
    }

}

/* For Tablet */
@media only screen and (min-width:450px) and (max-width: 750px) {
    
}

